<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../../css/materialize.min.css" rel="stylesheet" type="text/css">
<title>SupOn</title>
<style type="text/css">
    html{
        min-height: 100%;
        background-image: linear-gradient(to bottom, rgba(25,25,25, 0.85), rgba(220,220,220, 0.85));
    }

    .forms {
        margin-top: 10%;
    }

</style>