<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript"> $(".button-collapse").sideNav();</script>
<script type="text/javascript"> $(document).ready(function () {
        $('.collapsible').collapsible();
    });</script>
<script type="text/javascript">$(document).ready(function () {
        $('select').material_select();
    });</script>
<script type="text/javascript">document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function () {
        $('select').formSelect();
    });

    $('#alert_close').click(function () {
        $("#alert_box").fadeOut("slow", function () {
        });
    });
</script>

<!-- Masks -->
<script type="text/javascript" src="../js/jquery.mask.min.js" ></script>
<script type="text/javascript" src="../js/formatter.js" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#cpf').formatter({
            'pattern': '{{999}}.{{999}}.{{999}}-{{99}}',
            'persistent': true
        });
    });
</script>